<section class="ui container">
    <div class="nav">
        <div class="logo">MEMEIT.</div>
    </div>

    <div class="searchzone">
        <div class="ui fluid icon input">
            <input [formControl]="searchcontrol" name="searcher" type="text" placeholder="Search Tags...">
            <i class="search icon"></i>
        </div>

        <div class="populartags">
            Popular Tags: <span class="tag" *ngFor="let tag of populartags" (click)="settag(tag)" class="clickable">{{tag}}</span>
        </div>
    </div>

    <div class="memes">
        <app-meme class="meme" *ngFor="let meme of memes; let idx = index" [meme]="meme"></app-meme>
    </div>
</section>
