<div class="clearback">
    <div class="topcover"></div>
    <img *ngIf="backimageset" class="animated fadeIn" [src]="imgbackie" alt="">
</div>

<section class="ui container">
    <div class="nav">
        <div class="logo">MEMEIT<span style="display: inline-block;" class="animated bounce infinite">.</span></div>
    </div>

    <div class="searchzone">
        <div class="ui fluid icon input">
            <input [formControl]="searchcontrol" name="searcher" type="text" placeholder="Search Tags...">
            <i class="search icon"></i>
        </div>

        <div class="populartags">
            Popular Tags &nbsp; <i class="area chart icon"></i>: <span *ngIf="!populartags.length">Loading</span> <span class="animated fadeIn tag" *ngFor="let tag of populartags" (click)="settag(tag.name)" class="clickable">{{tag.name}}</span>
        </div>
    </div>

    <div class="memes">
        <app-meme class="meme" *ngFor="let meme of memes; let idx = index" [meme]="meme" [index]="idx" (hovered)="isHovered($event)"></app-meme>
    </div>
</section>
